.btn-wrapper {
  display: inline-block;
  padding: 1px 5px;
  margin: 0px 5px;
  background-color: #fff;
  color: rgb(35, 49, 53);
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0px 0px 2px rgb(159, 159, 159);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* box-shadow: 0px 0px 5px 4px #cacaca; */
}

.btn-wrapper:active {
  /* box-shadow: 0px 0px 5px 2px #cecece; */
  transform: translateY(3px);
}

.progress-bar {
  transition: all 1s ease-in;
}
