* {
  box-sizing: border-box;
}

.container {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid rgb(195, 190, 202);
  position: relative;
  align-items: center;
}
.name {
  padding: 10px;
}

.bar {
  position: absolute;
  bottom: 0px;
  height: 5px;
  width: 80%;
  border-radius: 20px;
  background: transparent;
}

@keyframes hideBar {
  from {
    opacity: 1;
    background: rgb(195, 190, 202);
    transform: translateY(-5px);
  }
  to {
    opacity: 0;
    background: white;
    transform: translateY(0);
  }
}

@keyframes showBar {
  from {
    opacity: 0;
    background: white;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    background: rgb(195, 190, 202);
    transform: translateY(-5px);
  }
}
@-webkit-keyframes showBar {
  /* Safari and Chrome */
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-5px);
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all 1s ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: all 1s ease-in;
}

.fadeIn {
  animation: 0.16s fadeIn forwards;
}

.fadeOut {
  animation: 0.11s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
