.menu-content {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
}

.menu-content a {
  text-align: center;
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  /* text-decoration: none; */
  font-weight: bold;
  color: rgb(255, 255, 255);
  background: rgb(96, 144, 144);
  border-radius: 2px;
}


.menu-item {
  flex-basis: 15%;
}

.menu-item a:hover {
  box-shadow: 1px 1px 1px 1px gray;
  background: rgb(41, 121, 121);
  cursor: pointer;
}

.menu-item:last-child {
  margin-right: 30px;
}

.header-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffe53f67;
  height: 60px;
}

.header-title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 1px rgb(124, 121, 121);
}

.menu-input-container {
  display: grid;
  grid-auto-flow: row;
  border: 2px solid rgb(195, 190, 202);
  border-radius: 3px;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  margin: 10px;
}
.menu-input-container button {
  margin-top: 10px;
  justify-self: end;
  width: 80px;
  height: 30px;
  background: rgb(63, 108, 145);
  border-radius: 3px;
  border: 1px solid rgb(195, 190, 202);
  color: rgb(255, 255, 255);
}

.item-Title {
  color: rgb(75, 72, 72);
  font-size: 20px;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgb(195, 190, 202);
  text-align: left;
  border-bottom: 1px solid rgb(195, 190, 202);
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.item-Container {
  display: grid;
  grid-auto-flow: row;
  height: fit-content;
  padding: 5px;
  margin: 10px 0px 10px 0px;
  width: 450px;
  border: 1px solid rgb(195, 190, 202);
}

.item-Content {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 100%;
  height: 45px;
  margin-bottom: 3px;
  align-items: center;
}
.item-Content:last-child {
  margin-bottom: 0px;
}

.item-Name {
  background: rgb(124, 121, 121);
  text-align: left;
  font-weight: 700;
  color: rgb(255, 255, 255);
  height: 100%;
  display: grid;
  align-content: center;
}
.item-Name div {
  padding-left: 5px;
}

.item-Box {
  text-align: left;

  height: 100%;
  width: 100%;
}

.item-Box input {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  /* border-radius: 3px; */
  border: 1px solid rgb(195, 190, 202);
  padding: 4px 6px 4px 6px;
}

.item-Box select {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  /* border-radius: 3px; */
  border: 1px solid rgb(195, 190, 202);
  padding: 4px 6px 4px 6px;
}

/* 
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  display: inline-block;
  vertical-align: middle;
  color: white;
  margin: 0.5rem;
  padding: 0;
}

nav {
  display: inline-block;
  vertical-align: middle;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li.icon {
  flex-basis: 25%;
}

header {
  background: cadetblue;
  padding: 20px;
}

a {
}

a:hover {
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
} */ ;
