.header-menu-container {
  display: flex;
  height: fit-content;
}
.header-menu-content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header-menu-title {
  padding: 10px;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
  height: fit-content;
}

.category-menu-container {
  position: absolute;
  left: 10px;
  top: 50px;
}

.category-menu-wrap {
  position: absolute;
  top: 10px;
  border: 1px solid #101010;
  width: fit-content;
  min-width: 150px;
  background: white;
  padding: 5px;
  padding-bottom: 10px;
  box-shadow: 0 0 9px 2px rgb(0 0 0 / 20%);
}

/* .category-menu-wrap::before {
  position: absolute;
  content: "";
  top: -11px;
  left: 10%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #101010;
}
.category-menu-wrap::after {
  position: absolute;
  content: "";
  top: -10px;
  left: 10%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
} */
