.menu-content {
  /* display: flex;
  flex-direction: row-reverse; */

  display: grid;
  grid-auto-flow: column;
  justify-content: end;
}

.menu-content a {
  text-align: center;
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  /* text-decoration: none; */
  font-weight: bold;
  color: rgb(255, 255, 255);
  background: rgb(96, 144, 144);
  border-radius: 2px;
}

.menu-item {
  flex-basis: 15%;
}

.menu-item a:hover {
  box-shadow: 1px 1px 1px 1px gray;
  background: rgb(41, 121, 121);
  cursor: pointer;
}

.menu-item:last-child {
  margin-right: 30px;
}

.header-wrap {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: minmax(50px, auto);
  justify-items: space-between;
  align-items: center;
  background-color: rgb(214, 234, 238);
}

.header-title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgb(124, 121, 121);
}
/* 
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  display: inline-block;
  vertical-align: middle;
  color: white;
  margin: 0.5rem;
  padding: 0;
}

nav {
  display: inline-block;
  vertical-align: middle;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li.icon {
  flex-basis: 25%;
}

header {
  background: cadetblue;
  padding: 20px;
}

a {
}

a:hover {
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
} */
